.hover-img {
    display: none;
}

.hoverme:hover .hover-img {
    display: block;
    position: fixed;
    top: 40%;
    left: 20%;
}

.btn {
    padding: 30px;
    background: yellow;
    position: fixed;
    transition: 2s ease;
}

.btn:hover {
    background: orange;
    transform: scale(3);
}

.next-btn {
    top: 50%;
    right: 0%;
}

.prev-btn {
    top: 50%;
    left: 0%;
}