.line1 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:500px;
}

.line2 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:500px;
}

.line3 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:500px;
}

.line4 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:500px;
}

.line5 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:500px;
}

.line6 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:500px;
}

.line7 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:500px;
}

.line8 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:500px;
}

.line9 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:500px;
}