body {
    background-color:black;
}

.hoverme {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:200px;
    color:white;
}

.hover-text {
    display: none;
    color:white;
}

.hoverme:hover .hover-text {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:center;
    font-weight:900;
    font-size:100px;
    display: block;
    position: fixed;
    top: 40%;
    left: 20%;
    color:white;
}