body {
    background: black;
    background-image: url("img/goliath.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

a {
    text-align: center;
    font-style: helvetica;
    color: white;
    font-size: 200px;
    text-decoration: line-through;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

a:hover {
    color: darkred;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}