.glitch {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    align-content: center;
}

a {
    font-style: helvetica;
    color: black;
    font-size: 25px;
    text-decoration: line-through;
}