body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.flex2 {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: flex-end;
}

.flex3 {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
}

.flex4 {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.spazzoid {
    width: 30vw;
    height: 30vw;
    background: black;
    border-radius: 50%;
    animation: spazz 2s
    infinite ease-in-out alternate;
}

.flop {
    width: 50vw;
    height: 50vw;
    background: black;
    border-radius: 50%;
    animation: floppy 1s
    infinite ease-in-out alternate;
    right:0;
}

.bloop {
    width: 10vw;
    height: 10vw;
    background: black;
    border-radius: 50%;
    animation: bloopy 1s
    infinite ease-in-out alternate;
}

.finally {
    width: 40vw;
    height: 40vw;
    background: black;
    border-radius: 50%;
    animation: bloopy 2s
    infinite ease-in-out alternate; 
}

@keyframes spazz {
    0% {transform:scale(1);}
    100% {transform:scale(1.5);}
}

@keyframes floppy {
    0% {transform:scale(1);}
    100% {transform:scale(1.2);}
}

@keyframes bloopy {
    0% {transform:scale(1);}
    100% {transform:scale(1.8);}
}

@keyframes woah {
    0% {transform:scale(1);}
    100% {transform:scale(2);}
}