.line1 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:right;
    font-weight:900;
    font-size:50px;
    color:#5B1546;
}

.line2 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:right;
    font-weight:900;
    font-size:50px;
    color:#93073E;
}

.line3 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:right;
    font-weight:900;
    font-size:100px;
    color:#C90334;
}

.line4 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:right;
    font-weight:900;
    font-size:50px;
    color:#FD5526;
}

.line5 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:right;
    font-weight:900;
    font-size:50px;
    color:#FEC500;
}

.line6 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:right;
    font-weight:900;
    font-size:50px;
    color:#5B1546;
}

.line7 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:right;
    font-weight:900;
    font-size:100px;
    color:#93073E;
}

.line8 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:right;
    font-weight:900;
    font-size:50px;
    color:#C90334;
}

.line9 {
    height:200px;
    font-family:helvetica;
    text-transform:full-width;
    text-align:right;
    font-weight:900;
    font-size:50px;
    color:#FD5526;
}