.poem {
    text-align: center;
    font-family:arial;
    font-size:50px;
    color:white;
}

@keyframes gabesawesome {
  from {background-color: white;}
  to {background-color: black;}
}

div {
  width: 200px;
  height: 300px;
  background-color: white;
  animation-name: gabesawesome;
  animation-duration: 45s;
}

.line1 {
    padding: 100px;
}

.line2 {
    padding: 100px;
}

.line3 {
    padding: 100px;
}

.line4 {
    padding: 100px;
}

.line5 {
    padding: 100px;
}

.line6 {
    padding: 100px;
}

.line7 {
    padding: 100px;
}

.line8 {
    padding: 100px;
}

.line9 {
    padding: 100px;
}
