.poem {
    margin: 780px;
}

.line1 {
    float: left;
}

.line2 {
   float: left; 
}

.line3 {
    float: right; 
}

.line4 {
    float: right; 
}

.line5 {
    float: left; 
}

.line6 {
    float: left; 
}

.line7 {
    float: right; 
}

.line8 {
    float: right; 
}

.line9 {
    float: right; 
}